@model SampleSite.Business.LoadTesting.LoadResults

<p>
    Scenario: @Model.Scenario
    <br/>
    Steps: @Model.Steps 
    <br/>
    Pages: @Model.Pages
    <br />
    Startup Time: @Model.StartupTime
    <br/>
    Load Time: @Model.LoadTime
    <br/> 
    Cleanup Time: @Model.CleanupTime
</p>