@model SampleSite.Models.Pages.SectionPage

@{
    ViewBag.Title = Model.PageName;
    ViewBag.PageName = Model.PageName;
}

<h2> @Model.Heading </h2>

<p>
    @Model.Intro
</p>

<nav>
    <a href="@Url.PageUrl(Model.Parent.LinkURL)"> Parent </a>
</nav>

    
@foreach (var folder in Model.Subsections)
{
    <section>
        <ul>
        @foreach (var article in folder.ChildArticles)
        {
            <li>
                @Html.PageLink(article)
            </li>
        }
        </ul>
    </section>
}
    
<hr/>
@Html.XhtmlString(Model.Body)